.App {
  width: 100%;
  min-height: 100vh;
  background-image: url('/public/images/constellations.jpg');
  background-repeat: repeat;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.app-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  .app-content {
    width: 80%;
  }
}
@media (min-width: 800px) {
  .app-content {
    width: 70%;
  }
}